.footer {
    background-color:$rosa ;
    padding: 15px;

    p {
        text-align: center;
        color: white;
    }
}

/* Contacto */

.degradado {
    background-color: linear-gradient(
         #DECAFF 0%,
         #9A015C 20%,
         #FE3883 40%,
         #FF9EED 80%,
    );
}