@import 'variables';

.header {

    background-color: $azul;

    .contenido-h {
        padding: 2%;   
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            text-shadow: 2px 2px 0 black,  
            -2px 2px 0 black, 
            2px -2px 0 black, 
            -2px -2px 0 black; 
        }
    }
 
}
.navegacion a, h1 {
    color: white;
    &:hover {
        color:$rosa_claro ;
    }   
}

.imagen {
    img {
        filter: brightness(1%); 
        height: 80%;
      }
}

.contenido-i {
    position: relative;
}

.contenido-i img {
    animation-name: colores;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 0;
}

@keyframes colores {

    0%, 100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(50deg);
    }
}

.texto {
    position: absolute;  
    top: 50%;            
    left: 50%;           
    transform: translate(-50%, -50%); 
    color: white;       
    text-align: center;  
    scale:1;

    h2 {
        font-weight: 700;
        font-size: 50px;
         text-shadow: 2px 2px 0 black,  
            -2px 2px 0 black, 
            2px -2px 0 black, 
         -2px -2px 0 black; 
    }

    p {
        font-size: 25px;
        background-color: $rosa;
    }
}

.texto:hover
{
    h2 {
        scale: 1.15;
    }
    p {
        background-color: $rosa_claro;
    }
}

@media (max-width: 480px) {
    .contenido-h {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }  

    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-top: 5px;
    }

    .texto:hover {
        h2 {
        scale: 1;  
        }
    }

    .imagen {

        overflow: hidden;

    img  {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
}   
  }

  