@import 'variables';

.header {

    background-color: $azul;

    .contenido-h {
        padding: 2%;   
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        color: white;
    }
 
}

.navegacion a {
 
    color: white;
    &:hover {
        color:$rosa_claro ;
    }
    
}

.imagen {

    img {
        filter: brightness(0.5); 
        height: 85%;
      }
}

.contenido-i {
    position: relative;
}


.texto {
    position: absolute;  
    top: 50%;            
    left: 50%;           
    transform: translate(-50%, -50%); 
    color: white;       
    text-align: center;  

    h2 {
        font-weight: 700;
        font-size: 50px;
    }

    p {
        font-size: 25px;
        background-color: $rosa;
    }
}



   


@media (max-width: 480px) {

    .contenido-h {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;

    }  
  }

  